.player-card {
    margin-bottom: 1em;
    background: rgba(48, 48, 48, 0.762);
    border: solid rgb(160, 159, 159) 2px;
    box-shadow: 1px 1px 3px 0px rgb(160,159,159), inset -1px -1px 3px 0px rgb(160,159,159),
                inset 1px 1px 3px 0px rgb(160,159,159), -1px -1px 3px 0px rgb(160,159,159);
    padding: 2%;
    border-radius: 0.4em;
    width: 96%;
    display: flex;
    justify-content: left;
}

.card-info {
    width: 100%;
}

.image-avatar {
    width: auto;
    height: 4em;
    margin-right: .8em;
}

.card-top-row {
    display: flex;
    justify-content: space-between;
    height: 25%;
}

.card-title {
    display: flex;
    justify-content: left;
}

.vp-counter {
    display: flex;
    justify-content: right;
}

.vp-text {
    margin-right: .5em;
}

.card-faction-title {
    color: gold;
    margin-right: 0.4em;
}

.card-player-name{
    font-size: 100%;
    color: rgb(233, 232, 232);
}

.card-bottom-row {
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.speaker-token {
    height: 3.5em;
    width: auto;
    margin-right: .5em;
    opacity: 0.5;
}

.speaker-arrow {
    height: 2.5em;
    width: auto;
    transform: scaleY(1);
    opacity: 0;
    margin-right: 1em;
}

.player-strategy-card{
    height: 3em;
    width: auto;
}
