.player-card {
    margin-bottom: 1em;
    background: rgb(72, 70, 70);
    padding: 2%;
    border-radius: 0.4em;
    width: 96%;
    display: flex;
    justify-content: left;
}

.card-info {
    width: 100%;
}

.image-avatar {
    width: auto;
    height: 4em;
    margin-right: .8em;
}

.card-top-row {
    display: flex;
    justify-content: space-between;
}

.card-title {
    display: flex;
    justify-content: left;
}

.vp-counter {
    display: flex;
    justify-content: right;
}

.vp-text {
    margin-right: .5em;
}

.card-faction-title {
    color: gold;
    margin-right: 0.4em;
}

.card-player-name{
    font-size: 100%;
    color: rgb(233, 232, 232);
}

.speaker-token {
    height: 3.5em;
    width: auto;
    margin-right: .5em;
    opacity: 0.5;
}

.speaker-arrow {
    height: 2.5em;
    width: auto;
    transform: scaleY(1);
    opacity: 0;
}
