.app-header {
    background: black;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.app-header-title{
    font-size: 200%;
}

.app-header-subtitle {
    margin: 0.2em;
}

.twilight-png {
    width: 100%;
    height: auto;
}

