.draft-panel {
    background: rgba(48, 48, 48, 0.762);
    border: solid rgb(160, 159, 159) 2px;
    box-shadow: 1px 1px 3px 0px rgb(160,159,159), inset -1px -1px 3px 0px rgb(160,159,159),
                inset 1px 1px 3px 0px rgb(160,159,159), -1px -1px 3px 0px rgb(160,159,159);
    border-radius: 0.4em;
    padding: 2%;
    width: 25%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.draft-panel-header {
    margin-bottom: .5em;
}

.draft-images-open {
    width: 80%;
    height: auto;
    margin-bottom: .4em;
    cursor: pointer;
}

.draft-images-closed {
    width: 80%;
    height: auto;
    margin-bottom: .4em;
    opacity: .5;
}