.game-init-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.game-init-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background: rgba(48, 48, 48, 0.762);
    border: solid rgb(160, 159, 159) 2px;
    box-shadow: 1px 1px 3px 0px rgb(160,159,159), inset -1px -1px 3px 0px rgb(160,159,159),
                inset 1px 1px 3px 0px rgb(160,159,159), -1px -1px 3px 0px rgb(160,159,159);
    padding: 2%;
    border-radius: 0.2em;
    width: 96%;
}

.init-header-title {
    font-size: 120%;
}

.init-name-field {
    margin-right: .5em;
}

.begin-button {
    width: 13em;
}