.game-init-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-init-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background: rgb(72, 70, 70);
    padding: 2%;
    border-radius: 0.2em;
    width: 96%;
}

.init-header-title {
    font-size: 120%;
}

.init-name-field {
    margin-right: .5em;
}

.begin-button {
    width: 13em;
}