.speaker-panel {
    background: rgba(48, 48, 48, 0.762);
    border: solid rgb(160, 159, 159) 2px;
    box-shadow: 1px 1px 3px 0px rgb(160,159,159), inset -1px -1px 3px 0px rgb(160,159,159),
                inset 1px 1px 3px 0px rgb(160,159,159), -1px -1px 3px 0px rgb(160,159,159);
    border-radius: 0.4em;
    padding: 2%;
    width: 25%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.speaker-direction {
    width: 100%;
    margin-bottom: 1em;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.panel-thumbnails {
    width: 4em;
    height: auto;
    margin: .5em;
}