.App {
  background: rgba(12, 12, 50, 0.418);
  color: white;
  padding: 2em 2em 0em 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}





