.game-tracker-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tracker-control-panel {
    background: rgb(72, 70, 70);
    border-radius: 0.4em;
    padding: 2%;
    width: 96%;
    height: 10em;
    margin-bottom: 1em;
}